* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1, h2, h3 {
   
}

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #FFFFFF;
    padding: 20px;
  }

  /* Center content wrapper */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }

  .header {
    background-color: #0A0706;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
  }

  .body {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px 0;
    background-color: #FFFFFF;

  }

  .b_element {
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 30px;
    background: #F5F5F5;
    box-shadow: 0 2px 8px rgba(18, 18, 18, 0.05);
  }

  .body_card_yt {
    position: relative;
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background: #7E4A26;
    /*background: linear-gradient(90deg,rgba(126, 74, 38, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(35, 156, 160, 1) 100%);*/
    background-image:
    linear-gradient(
        135deg,
        rgba(35, 156, 160, 0.4) 0%,      /* First color starts */
        rgba(126, 74, 38, 0.4) 50%, /* First color ends */
        rgba(245, 245, 245, 0.4) 50%, /* Second color starts */
        rgba(126, 74, 38, 0.4) 100%, /* Second color ends */
        rgba(245, 245, 245, 0.4) 66.66%, /* Third color starts */
        rgba(245, 245, 245, 0.4) 100%    /* Third color ends */
      ),
      url("../Resources/images/youtube-ads.png");
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;

  }

  .body_card_insta {
    position: relative;
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background: #7E4A26;
    /*background: linear-gradient(90deg,rgba(126, 74, 38, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(35, 156, 160, 1) 100%);*/
    background-image:
    linear-gradient(
        135deg,
        rgba(35, 156, 160, 0.4) 0%,      /* First color starts */
        rgba(126, 74, 38, 0.4) 50%, /* First color ends */
        rgba(245, 245, 245, 0.4) 50%, /* Second color starts */
        rgba(126, 74, 38, 0.4) 100%, /* Second color ends */
        rgba(245, 245, 245, 0.4) 66.66%, /* Third color starts */
        rgba(245, 245, 245, 0.4) 100%    /* Third color ends */
      ),
      url("../Resources/images/instagram-ads.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 12px;
    overflow: hidden;
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;
  }

  .body_card_FL {
    
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background-image: url("../Resources/images/FL Studio.jpeg");
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;
  }

  .body_card_live {
    position: relative;
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background-image: 
    linear-gradient(
      135deg,
      rgba(35, 156, 160, 0.4) 0%,      /* First color starts */
      rgba(126, 74, 38, 0.4) 50%, /* First color ends */
      rgba(245, 245, 245, 0.4) 50%, /* Second color starts */
      rgba(126, 74, 38, 0.4) 100%, /* Second color ends */
      rgba(245, 245, 245, 0.4) 66.66%, /* Third color starts */
      rgba(245, 245, 245, 0.4) 100%    /* Third color ends */
    ),
      url("../Resources/images/Ableton.jpeg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;
  }

  .body_card_logic {
    
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background-image: url("../Resources/images/Recording in Logic pro.jpeg");
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;
  }

.body_card_ProTools {
    
    border: 1px solid #F5F5F5;
    margin: 30px;
    border-radius: 5px;
    background-image: url("../Resources/images/PRO TOOLS.jpeg");
    background-size: 1000px;
    width: 700px;
    height: 600px;
    padding: 20px;
    box-shadow: #0A0706 1px 1px 20px;
}

  .footer {
    background-color: #404241;
    font-size: 0.9rem;
    color: white;
    
  }

  .footer-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adds space on both sides */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0A0706;
    
  }

  .footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }